.button {
  position: relative;
  display: inline-block;
  border: none;
  font-weight: var(--button-font-weight);
  gap: 7.43px;
  color: var(--button-color);
  border: 1px solid var(--grey-30);
  padding: var(--button-large-padding);
  background: var(--button-background);
  border-radius: var(--button-border-radius);
  line-height: var(--button-line-height);
  outline: none !important;
  cursor: pointer;
  font-size: var(--button-text-font-size);
  white-space: nowrap;
}
